

.summary
{
    width: 40%;
    margin-inline: auto;
    text-align: center;
    padding: 0.25rem;
    border-radius: 5px;
    position: relative;
    /* background-image: linear-gradient(to right, var(--secondary-color), var(--secondary-color-3)); */
    background-color: var(--secondary-color-2);
    margin-top: -4rem;
    margin-bottom: 3rem;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    box-shadow: 5px 5px 15px 1px;
    padding-bottom: 1rem;
}